


#footer .container.footer {

   background-color: #fffaee;
    padding: 15px 0 0 0;
    margin: 0;
    color: rgb(128, 128, 128);
    gap: 20px;
    min-height: 200px;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: .3em;
  }
  #footer .footer-wrapper {
    justify-content: space-around;
    padding: 0 20px;
    align-items: center;
    flex-direction: row-reverse;
    min-height: 300px;
    flex-wrap: wrap-reverse;
  }
  #footer a {
    text-decoration: none;
  }
  #footer .content:nth-child(2) {
    gap: 50px;
  }
  
  #footer .contact-information p{
    padding: 0;
  }

  #footer .contact-information .text {
    gap: 20px;
    justify-content: start;
    align-items: end;
    text-align: end;
  }

  #footer .contact-information .icon {
    gap: 20px;
    justify-content: start;
    align-items: start;
  }

  #footer .contact-information {
    gap: 20px;
    
  }
  
  #footer .footer-nav p {
    margin: 0;
    padding: 0 0 10px 0;
    font-weight: 600;
    color: rgb(96, 96, 96);
  }
  #footer .footer-nav {
    gap: 10px;
  }
  #footer .footer-nav a {
    color: rgb(134, 134, 134);
  }
  #footer .footer-nav a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 480px) {
    #footer .footer-wrapper {
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
      gap: 50px;
    }
    #footer .content:nth-child(2) {
      flex-direction: column;
    }

    #footer .content:nth-child(1) {
      align-self: end;
      justify-self: end;
    }
    
  }
  
  @media (max-width: 768px) {
  }