#hero .container {
  background-color: var(--main-clr);
  margin: 70px 0;
  padding: 0;
  position: relative;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#hero .title {
  gap: 20px;
  padding-left: 20px;
  max-width: 50%;
}

#hero .img-wrapper img {
  object-fit: contain;
  opacity: 0;
  transition: all 1s ease-in-out;
}

#hero .img-wrapper img.fade {
  opacity: 1;
}

#hero .title p {
  margin-right: 100px;
}

#hero .img-wrapper {
  height: 100%;
  width: auto;
  position: absolute;
  right: 40px;
}

#hero .content-wrapper {
  gap: 30px;
}

#hero .data {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

#hero .data h5 {
  font-weight: bold;
  font-size: 2.5em;
}

#hero .data p {
  margin-right: 0;
  font-size: 1.6em;
}

#hero .v-dot {
  gap: 10px;
  align-items: end;
  position: absolute;
  right: 10px;
  bottom: 10px;
  justify-self: end;
  align-self: flex-end;
}

#hero .v-dot .circle.active {
  background-color: black;
  scale: 1.2;
}
#hero .v-dot .circle {
  background-color: rgba(128, 128, 128, 0.333);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

/* R end hero */

#benefit {
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-top: 0;
}

#benefit h4 {
  font-weight: bold;
}

#benefit .content-wrapper {
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  align-self: self-start;
  text-align: start;
  padding-left: 20px;
}
#benefit .content {
  justify-content: center;
  align-items: center;
  /* width: 250px; */
  gap: 10px;
}

#benefit .img-wrapper {
  width: 70px;
  height: 70px;
}

/* R end benefit */

#product-display {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#product-display .block {
  z-index: 1;
  position: absolute;
  height: 100vh;
  width: 40%;
  background-color: var(--main-clr);
  /* background-color: red; */
}

#product-display .title {
  position: absolute;
  z-index: 10;
  text-align: end;
  right: 10px;
}

#product-display .content-wrapper {
  position: relative;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

#product-display .content-wrapper-2 {
  align-items: end;
  width: 40%;
  gap: 20px;
  text-align: end;
  padding-right: 20px;
}

#product-display .content-wrapper .img-wrapper.display {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  position: relative;
  margin-left: 15%;
}

#product-display .content-wrapper .img-wrapper img {
  z-index: 10;
  position: relative;
}

#product-display .img-wrapper h1 {
  text-orientation: upright;
  writing-mode: vertical-lr;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -40px;
  text-align: start;
}

#product-display .box-wrapper {
  gap: 10px;
}

#product-display .box-wrapper .img-wrapper.active {
  background-color: var(--black-clr);
}

#product-display .box-wrapper .img-wrapper:hover {
  scale: 1.2;

  cursor: pointer;
}

#product-display .box-wrapper .img-wrapper {
  transition: all 0.5s ease-in-out;
  width: 60px;
  height: 60px;
  background-color: var(--main-clr);
  border: 1px solid black;
}

/* R end Product display */

#journey .content-wrapper {
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#journey .v-line {
  width: 2px;
  background-color: black;
  height: 50px;
}

#journey h2 {
  padding-left: 20px;
}

#journey .container:nth-child(2) .img-wrapper {
  grid-column: 2;
}

#journey .container:nth-child(2) {
  position: relative;
  top: -100px;
}
#journey .container:nth-child(3) {
  position: relative;
  top: -200px;
}

#journey .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  gap: 10px;
}

#journey .container .text-wrapper h4 {
  font-size: 3em;
  letter-spacing: 0.3em;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

#journey .container .text-wrapper p {
  padding: 0;
  margin: 0;
  letter-spacing: 0.2em;
}

#journey .container:nth-child(2) .text-wrapper {
  left: -120%;
  text-align: start;
  align-items: start;
}

#journey .img-wrapper {
  width: 300px;
  height: 400px;
  position: relative;
  grid-column: 1;
}

#journey .button {
  padding: 20px 0 10px 0;
}

#journey .container .text-wrapper {
  align-items: end;
  text-align: end;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  width: 500px;
  padding: 10px;
  z-index: 10;
  background-color: #ffffff2c;
}

/* R end jorney */
#about-home {
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
}
#about-home .img-wrapper {
  width: 100%;
  height: 400px;
}
#about-home p {
  max-width: 600px;
}

#about-home .text-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
#about-home .button {
  padding-top: 30px;
}
#about-home .button a {
  border-color: white;
  color: white;
}

/* r end about */

#testimonial {
  position: relative;
}

#testimonial .title {
  padding: 20px;
}

#testimonial .carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#testimonial .carousel-track {
  transition: all 0.4s ease-in-out;
}
#testimonial .carousel-slide {
  justify-content: space-between;
  min-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  gap: 10px;
}

#testimonial .content {
  gap: 10px;
  background-color: rgba(190, 190, 190, 0.114);
  padding: 20px;
  border-radius: 50px 0 0 0;
  width: 350px;
}
#testimonial .content .header {
  gap: 10px;
  justify-content: start;
  align-items: center;
}

#testimonial .content .name-wrapper p {
  color: gray;
}

#testimonial .content p.name {
  color: black;
}

#testimonial .content .img-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

#testimonial .carousel-buttons {
  align-self: center;
  gap: 20px;
}

#testimonial button:hover {
  cursor: pointer;
}
#testimonial button {
  border: none;
  background-color: black;
  color: white;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  text-align: center;
}

/* r End testimonial */

#store {
  padding: 50px 0;
  
}

#store h3 {
  text-transform: uppercase;
  text-align: center;
}

#store .container {
  padding: 0;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#store .img-wrapper {
  height: 250px;
  height: 250px;
  position: relative;
}

#store .button {
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: 10;
}

@media (max-width: 940px) {
  /* R end Hero */

  #product-display {
    position: relative;
    height: 100%;
    padding-bottom: 20px;
  }
  #product-display .desc {
    padding: 0 30px;
  }

  #product-display .block {
    width: 50%;
    height: 100%;
  }

  #product-display .img-wrapper h1 {
    font-size: 3em;
    top: 5px;
  }

  #product-display .content-wrapper-2 {
    align-items: center;
    width: auto;
    gap: 20px;
    text-align: center;
    padding-right: 0;
  }

  #product-display .title {
    position: relative;
    z-index: 10;
    text-align: end;
    right: 10px;
  }

  #product-display .content-wrapper {
    flex-direction: column;
  }

  #product-display .content-wrapper .img-wrapper.display {
    width: 300px;
    height: 300px;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  #hero .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #hero .img-wrapper {
    position: relative;
    right: 0;
    width: auto;
    height: 250px;
    order: 1;
  }
  #hero .v-dot {
    flex-direction: row;
    align-items: center;
    position: relative;
    right: 0;
    bottom: 0;
    justify-self: center;
    align-self: center;
  }

  #hero h1 {
    font-size: 3.2em;
  }

  #hero .title {
    gap: 20px;
    padding-left: 0;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  #hero .button {
    padding-top: 20px;
  }

  #hero .title p {
    margin-right: 0;
    padding: 0 50px;
  }

  #hero .content-wrapper {
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
  }
  #hero .data {
    gap: 15px;
  }
  #hero .data h5 {
    /* font-size: 2em; */
    width: fit-content;
  }

  #hero .data p {
    /* font-size: 1.1em; */
    width: fit-content;
    padding: 0;
  }

  /* r end hero */
  #journey .img-wrapper {
    width: 200px;
    height: 300px;
    position: relative;
    grid-column: 1;
  }

  #journey .container .text-wrapper {
    width: 300px;
  }

  #journey .container .text-wrapper h4 {
    font-size: 2em;
    letter-spacing: 0.3em;
  }

  /* r end journyey */
  #testimonial .content {
    width: 250px;
  }
}

@media (max-width: 480px) {
  #journey .container .text-wrapper {
    width: 200px;
  }

  #journey .img-wrapper {
    width: 170px;
    height: 300px;
    position: relative;
    grid-column: 1;
  }
  #journey .v-line {
    width: 2px;
    background-color: black;
    height: 25px;
  }

  #journey .content-wrapper {
    padding: 0 0;
    gap: 20px;
  }
  #journey h2 {
    font-size: 3em;
  }
  #journey .container .text-wrapper p {
    font-size: 0.8em;
  }

  #journey .container:nth-child(2) .text-wrapper {
    left: -100px;
    text-align: end;
  }

  #journey .container .text-wrapper h4 {
    font-size: 1.1em;
    letter-spacing: 0.5em;
  }

  #testimonial .carousel-slide {
    flex-direction: column;
    gap: 20px;
  }

  #testimonial .content {
    width: 85vw;
  }

  #testimonial .title p {
    text-align: center;
  }

  #store .img-wrapper {
    height: 200px;
    height: 200px;
    position: relative;
  }
}
