* {
  --main-clr: #fffef9;
  --second-clr: #9d8753;
  --black-clr: #000000;
}
/* g Typography */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}


.txt-clr{
  color: var(--second-clr);
}

h1 {
  font-size: 4em;
  letter-spacing: .1em;
}
h2 {
  font-size: 4em;
  letter-spacing: .1em;
}

/* g End Typography */

.container {
  padding: 40px 0;
}

/* g Row & Column */
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.row-r {
  display: flex;
  flex-direction: row-reverse;
}
.column-r {
  display: flex;
  flex-direction: column-reverse;
}
/* g end Row & Column */

#floating-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Floating Button */
#floating-container .floating-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

#floating-container .floating-btn:hover {
  background-color: black;
  transform: scale(1.1);
}

/* Floating Menu */
#floating-container .floating-menu {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  right: 0;
  position: relative;
}

/* Hidden State */
#floating-container .floating-menu.hidden {
  opacity: 1;
  right: -100px;
  
}

/* Image Wrapper */
#floating-container .img-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

/* r floating */


.button a {
  text-decoration: none;
}


.button.main a {
  color: white;
  background-color: var(--black-clr);
  padding: 10px 10px;
  border: 1px solid var(--black-clr);
}

.button.second a {
  color: var(--black-clr);
  background-color: transparent;
  padding: 10px 10px;
  border: 1px solid var(--black-clr);
}


.img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.social-wrapper {
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.social-wrapper a {
  text-decoration: none;
  color: var(--second-clr);
  font-size: 32px;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}